.table-view {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-border-color: #df6a1b;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-padding: 0px;
    -fx-font-size: 16px;
    -fx-background-insets: 0;
}

/* Фон "шапки" таблицы */
.table-view .column-header-background {
    -fx-background-color: #df6a1b;
    -fx-background-radius: 8px 8px 0 0;
    -fx-padding: 0 0 5px 0;
}

/* "Шапка" таблицы */
.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 45px;
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #04060a;
}

.table-view .table-cell {
    -fx-background-color: #04060a;
    -fx-text-fill: #ffffff;
    -fx-border-color: #df6a1b;
    -fx-border-width: 0 1px 1px 0;
}

.table-view .column-header:last-visible {
    -fx-border-width: 0;
}

.table-view .table-row-cell:last-visible .table-cell {
    -fx-border-width: 0 1px 0 0;
}

.table-view .table-row-cell .table-cell:last-visible {
    -fx-border-width: 0 0 1px 0;
}

.table-view .table-row-cell:last-visible .table-cell:last-visible {
    -fx-border-width: 0;
}

.table-row-cell:last-visible {
    -fx-background-color: #04060a;
    -fx-background-radius: 0 0 8px 8px;
}

/* Фон полосы прокрутки */
.table-view .scroll-bar:horizontal {
    -fx-background-color: #04060a;
}

/* Цвет полосы прокрутки */
.table-view .scroll-bar .thumb {
    -fx-background-color: #df6a1b;
}

.table-view .scroll-bar .increment-arrow,
.table-view .scroll-bar .decrement-arrow {
    -fx-background-color: #ffffff;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 2;
}

/* Corner area between scroll bars */
.table-view .corner {
    -fx-background-color: transparent;
}

/* Цвет выделения строки */
.table-row-cell:selected {
    -fx-background-color: #ffffff;
    -fx-text-fill: #04060a;
}

/* Цвет выделения ячейки */
.table-row-cell:selected .table-cell {
    -fx-background-color: #df6a1b;
    -fx-text-fill: #04060a;
}


/* Кнопка календаря */
.date-picker .arrow-button {
    -fx-background-color: #df6a1b;
    -fx-background-radius: 0 10px 10px 0;
    -fx-border-color: #04060a;
    -fx-border-width: 2px;
    -fx-border-radius: 0 10px 10px 0;
}

/* Цвет иконки календаря */
.date-picker .arrow-button .arrow {
    -fx-background-color: #04060a;
}

.date-picker-popup {
    -fx-background-color: #04060a;
    -fx-background-radius: 10px;
}

/* Шапка календаря */
.date-picker-popup .month-year-pane {
    -fx-background-color: #df6a1b;
    -fx-background-radius: 10px 10px 0 0;
}

/* Цвет стрелок */
.date-picker-popup .spinner .left-arrow,
.date-picker-popup .spinner .right-arrow {
    -fx-background-color: #04060a;
}

.date-picker-popup .spinner .button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.date-picker-popup .spinner .button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

/* Панель дней недели */
.date-picker-popup .calendar-grid {
    -fx-background-color: #04060a;
    -fx-border-color: #df6a1b;
    -fx-border-radius: 0 0 10px 10px;
    -fx-background-radius: 0 0 10px 10px;
}

/* Текст панели дней недели */
.date-picker-popup .day-name-cell {
    -fx-background-color: #04060a;
    -fx-text-fill: #df6a1b;
    -fx-border-color: #df6a1b;
    -fx-border-width: 0 1px 0 1px; /* верхняя правая нижняя левая */
}

/* Панель номеров недель */
.date-picker-popup .week-number-cell {
    -fx-background-color: #04060a;
    -fx-text-fill: #df6a1b;
    -fx-border-color: transparent;
    -fx-background-radius: 0 0 0 10px;
}

/* Фон ячеек календаря */
.date-picker-popup .calendar-grid .day-cell {
    -fx-background-color: #04060a;
    -fx-text-fill: #ffffff;
    -fx-border-color: #df6a1b;
    -fx-border-width: 1px;
    -fx-border-radius: 0 0 10px 0;
    -fx-background-radius: 0 0 10px 0;
}

/* Стиль для текущей даты */
.date-picker-popup .day-cell.today {
    -fx-background-color: #df6a1b;
    -fx-text-fill: #04060a;
}

/* Цвет курсора */
.date-picker-popup .calendar-grid .day-cell:hover {
    -fx-background-color: #df6a1b;
}

.date-picker-popup .calendar-grid .day-cell.selected {
    -fx-background-color: #df6a1b;
    -fx-text-fill: #04060a;
}

/* Стиль для дней предыдущего месяца */
.date-picker-popup .calendar-grid .day-cell.previous-month {
    -fx-background-color: #04060a;
    -fx-text-fill: #808d93;
}

/* Стиль для дней следующего месяца */
.date-picker-popup .calendar-grid .day-cell.next-month {
    -fx-background-color: #04060a;
    -fx-text-fill: #808d93;
}

/* Стиль для наведения на дни предыдущего и следующего месяцев */
.date-picker-popup .calendar-grid .day-cell.previous-month:hover,
.date-picker-popup .calendar-grid .day-cell.next-month:hover {
    -fx-background-color: transparent;
}


/* Фон окна */
.root {
    -fx-background-color: #04060a;
}

/* Фон диалогового окна */
.dialog-pane {
    -fx-background-color: #04060a;
    -fx-border-color: #df6a1b;
    -fx-border-width: 2px;
    -fx-border-radius: 0 0 10px 10px;
}

/* Фон заголовка */
.dialog-pane .header-panel {
    -fx-background-color: #04060a;
}

.dialog-pane .header-panel .label {
    -fx-text-fill: white;
}

/* Цвет предупреждения */
.dialog-pane .content {
    -fx-background-color: #04060a;
    -fx-text-fill: white;

    /*-fx-padding: 0 0 -10 0;*/
}

/* Зона кнопок */
.dialog-pane .button-bar {
    -fx-background-color: #04060a;
    -fx-background-radius: 10px;
}

.dialog-pane .button {
    -fx-background-color: #df6a1b;
    -fx-text-fill: #04060a;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

/* Кнопка "Нет" */
.dialog-pane .button.no-button {
    -fx-background-color: #04060a;
    -fx-text-fill: #df6a1b;
    -fx-border-color: #df6a1b;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-cursor: hand;
}


/* Корневой стиль ComboBox */
.combo-box {
    -fx-font-size: 16px;
    -fx-text-fill: #ffffff;
    -fx-background-color: #04060a;
    -fx-border-color: #df6a1b;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

/* Стиль кнопки */
.combo-box .arrow-button {
    -fx-background-color: #df6a1b;
    -fx-background-radius: 0 10px 10px 0;
    -fx-border-color: #04060a;
    -fx-border-width: 2px;
    -fx-border-radius: 0 10px 10px 0;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #04060a;
}

/* Стиль списка */
.combo-box-popup .list-view {
    -fx-background-color: #04060a;
    -fx-text-fill: #df6a1b;
    -fx-control-inner-background: #04060a;
    -fx-border-color: #df6a1b;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

.combo-box-popup .list-cell {
    -fx-background-radius: 10px;
}

.combo-box-popup .list-cell:filled:selected,
.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #df6a1b;
    -fx-text-fill: #04060a;
    -fx-background-radius: 0;
}

/* Общее оформление для полосы прокрутки */
.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button,
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* Цвет кнопок прокрутки */
}

/* Оформление стрелок на кнопках прокрутки */
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: transparent; /* Цвет стрелок */
    /*-fx-padding: 5px;*/
}

/* Оформление самой "ручки" прокрутки */
.scroll-bar .thumb {
    -fx-background-color: #df6a1b;
    -fx-background-radius: 10px;
}